.refresh {
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  cursor: pointer;
  margin-left: -580px;
}
.refresh img {
  cursor: pointer;
  margin-left: 4px;
  margin-top: 4px;
}
