.rating span {
  padding: 6px 8px 6px 8px;
  /* border-radius: 4px; */
  /* border: 1px solid #28A879; */
  /* margin: -10px; */
}
.rating {
  border-radius: 4px;
  border: 1px solid transparent;
}

.rating--negative {
  color: var(--UI-red);
  border-color: #ea1a4f;
  background: linear-gradient(0deg, #fee9ef, #fee9ef),
    linear-gradient(0deg, #ea1a4f, #ea1a4f);
}

.rating--positive { 
  border-color: var(--UI-icon);
  background: linear-gradient(0deg, #adbfdf, #d8e4fb),
    linear-gradient(0deg, #d8e4fb, #d8e4fb);
}

.rating--exellent {  
  color: var(--UI-green);
  border-color: #28a879;
  background: linear-gradient(0deg, #dbf8ef, #dbf8ef),
    linear-gradient(0deg, #28a879, #28a879);
}

.hide {
  display: none;
}
