.call-list {
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.call-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.call-list__refresh{
  position: absolute;
  right: 0;
  margin-right: 910px;
}