* {
  box-sizing: border-box;
}

:root {
  --primary-color: #eaf0fa;
  --secondary-color: #899cb1;
  --accent-color: #e74c3c;
  --text: #122945;
  --text-secondary: #5e7793;
  --background-color: #fff;
  --hover-color: #002cfb;
  --UI-green: #28a879;
  --UI-light-green: #dbf8ef;
  --UI-Icon: #adbfdf;
  --UI-secondary: #d8e4fb;
  --UI-red: #ea1a4f;
  --UI-light-red: #fee9ef;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 14px;
  background: #f1f4f9;
}

.app__container {
  max-width: 1440px;
  padding: 80px 0px;
  margin: 0 auto;
}
